@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #0f172a;
  color: #f8fafc;
  font-family: Inter, system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}